*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

/* index.css */

img {
  display: block;
  width: 100%;
  max-width: 1500px;
}

body {
  background: #000;
  color: white;
  width: 95%;
  max-width: 1500px;
  margin: 0 auto;
}

section {
  margin: 5rem 2rem;
}

/* Navigation Styles */

header {
  background: black;
  text-align: center;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 95%;
  max-width: 1500px;
}

.logo {
  font-size: 1.25rem;
  margin: 1rem;
  text-transform: uppercase;
}

nav {
  position: absolute;
  top: 100%;
  left: 0;
  text-align: left;
  background: black;
  width: 100%;
  height: 100vh;
  padding-top: 2rem;
  display: none;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1.5em;
  margin-left: 1em;
}

nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

nav a:hover {
  color: #ffa98e;
}

.nav-toggle:checked ~ nav {
  display: block;
}

@media (min-width: 900px) {
  .nav-toggle-label {
    display: none;
  }
  
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background: black;
  }
  
  nav {
    all: unset;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 1em;
  }
  
  nav ul {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
   nav li { 
    margin-bottom: 0;
    padding: 0;
  }
}

/* Section One */
.section-one {
    background-image: url('https://replicate.delivery/pbxt/Lca3IEjcKoJBBVS6ajROkK37sDzPsmjYxIcFzxPZp65wZzTE/out-0.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-align: left;
    padding: 5rem 2rem;
}

/* Mobile optimization */
@media (max-width: 767px) {
    .section-one {
        padding: 3rem 1rem; /* Adjust padding for smaller screens */
    }
}
  

.header {
  font-size: 4.5rem;
}

.section-one-paragraph {
  margin: 2rem 0;
  width: 70%;
  max-width: 500px;
  line-height: 1.5rem;
  font-family: 'YourCustomFont', sans-serif;
}


.learn-more-btn {
  background: white;
  padding: 10px 20px;
  border-radius: 50px;
  font-size: .8rem;
  text-decoration: none;
  color: black;
}

.learn-more-btn:hover {
  background: #6c83ff;
  color: white;
}

/* Section Two */

/* Section Three */

.section-three h3 {
  margin: 0 auto;
  width: 80%;
  max-width: 700px;
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
}

/* Section Four */

.flex-group {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.section-four p {
  margin-bottom: 2rem;
  font-family: 'YourCustomFont', sans-serif;
}

.section-four-btn {
  margin-bottom: rem;
}

/* Section Five */

.section-five-flex-group {
  flex-direction: row-reverse;
}

.section-five p {
  margin-bottom: 2rem;
  font-family: 'YourCustomFont', sans-serif;
}

/* Section Six */

.section-six p {
  margin-bottom: 2rem;
  font-family: 'YourCustomFont', sans-serif;

}

/* Flex Group Mobile */

@media (max-width: 800px) {
  .flex-group {
    flex-direction: column;
  }
}

/* Section Seven */

.section-seven h3 {
  margin: 0 auto;
  width: 80%;
  max-width: 700px;
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
}

.section-seven-btn {
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  width: 7.5rem;
}

/* Section Eight */

.section-eight {
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; /* Prevent items from wrapping to the next line */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  font-family: 'YourCustomFont', sans-serif;
}

.section-eight-btn {
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    width: 7.5rem;
  }

.section-eight::-webkit-scrollbar {
  display: none; /* Webkit (Safari, Chrome, etc.) */
}

.flex-group-eight {
  display: flex;
  gap: 2rem;
}

/* Set a fixed width and height for the images in Section Eight */
.flex-group-eight img {
  width: 800px;
  height:250px;
  object-fit: cover;
}

@media (max-width: 800px) {
  .section-eight {
    overflow-x: auto; /* Keep horizontal scrolling for smaller screens */
    white-space: nowrap; /* Prevent items from wrapping to the next line */
  }

  .flex-group-eight {
    flex-direction: row; /* Ensure items stay in a row even on smaller screens */
  }

  .flex-group-eight img {
    height: 150px;
  }
}



/* Section Nine */

.section-nine {
  margin-top: 15rem;
}

.logo-container {
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
  width: 70%;
  max-width: 700px;
  margin: 0 auto;
}

.section-nine svg {
  fill: white;
  height: 50px;
  cursor: pointer;
  transition: ease-in-out 250ms;
}

.section-nine svg:hover {
  transform: translateY(-10px);
  fill: #ffa98e;
}


/* Section Ten */

.section-ten h3 {
  margin: 15rem auto 2rem;
  width: 80%;
  max-width: 700px;
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
}

.section-ten-btn {
  text-align: center;
  display: flex;  
  justify-content: center;
  margin: 0 auto;
  width: 7.5rem;
}






