/* Navigation Styles */

header {
    background: black;
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 95%;
    max-width: 1500px;
  }
  
  .logo {
    font-size: 1.5rem; /* Adjusted font size */
    margin: 1rem;
    text-transform: uppercase;
    color: white; /* Added text color */
  }
  
  nav {
    position: absolute;
    top: 100%;
    left: 0;
    text-align: left;
    background: black;
    width: 100%;
    height: 100vh;
    padding-top: 2rem;
    display: none;
  }
  
  .nav-toggle {
    display: none;
  }
  
  .nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .nav-toggle-label span,
  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
  }
  
  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
    content: '';
    position: absolute;
  }
  
  .nav-toggle-label span::before {
    bottom: 7px;
  }
  
  .nav-toggle-label span::after {
    top: 7px;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  nav li {
    margin-bottom: 1.5em;
    margin-left: 1em;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  nav a:hover {
    color: #ffa98e;
  }
  
  .nav-toggle:checked ~ nav {
    display: block;
  }
  
  @media (min-width: 900px) {
    .nav-toggle-label {
      display: none;
    }
    
    header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 1rem;
      background: black;
    }
    
    nav {
      all: unset;
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-right: 1em;
    }
    
    nav ul {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
    
    nav li { 
      margin-bottom: 0;
      padding: 0;
    }
  }