<div class="footer">
    <div class="container">
       <div class="panel">
          <div class="panel-body footer-1-panel-body">
             <div class="footer-1-top-row">
                <div class="content-width-extra-small">
                   <a href="/" aria-current="page" class="space-bottom w-inline-block w--current">
                      <h1>Chipling</h1>
                   </a>
                   <div class="text-lead">AI made free for all!</div>
                </div>
                <div class="footer-menu-grids">
                   <div class="w-layout-grid vertical-menu-grid"><a href="/" class="text-link">Index</a><a href="/models" class="text-link">Models</a><a href="/profile" class="text-link">Profile</a><a href="/docs" class="text-link">Docs</a><a href="/blogs" class="text-link">Blogs</a></div>
                   <div class="w-layout-grid vertical-menu-grid"><a href="/privacy-policy" aria-current="page" class="text-link w--current">privacy policy</a><a href="/gallery" class="text-link">Gallery</a><a href="/about" class="text-link">About Us</a><a href="/docs/changelog" class="text-link">Changelog</a></div>
                </div>
             </div>
             <div class="footer-1-bottom-row">
                <div class="text-small">© Copyright Chipling &nbsp;</a></div>
                <div class="social-list"><a href="https://twitter.com/chiplingX" target="_blank" class="social-link-item w-inline-block"><img src="https://assets.website-files.com/5dcb2e333e05bec4ef2fee2f/5dd227acedfe6aa24072b4a0_twitter.svg" alt=""></a><a href="https://instagram.com" target="_blank" class="social-link-item w-inline-block"><img src="https://assets.website-files.com/5dcb2e333e05bec4ef2fee2f/5dd227ac1e22cb1f90b110b4_instagram.svg" alt=""></a><a href="https://github.com" target="_blank" class="social-link-item w-inline-block"><img src="https://assets.website-files.com/5dcb2e333e05bec4ef2fee2f/5dd227acb88d00a5cc4fe90e_github.svg" alt=""></a><a href="https://slack.com" target="_blank" class="social-link-item w-inline-block"><img src="https://assets.website-files.com/5dcb2e333e05bec4ef2fee2f/5dd227ac1e22cb49fbb110b8_slack.svg" alt=""></a></div>
             </div>
          </div>
       </div>
    </div>
 </div>