<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text-to-Image Generative Model</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/image.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/image.js') }}"></script>
</head>


{% include 'main/navbar.html' %}

    <!-- New Bar Section -->
    <section class="info-bar" style="background: url({{ data.img }}) center/cover no-repeat;">
        <div class="info-content">
            <h1 id="title" name="models">{{ data.author }}/{{ data.model }}</h1>
            <p>{{ data.desc }}</p>
            <div class="additional-info">
                <span>Public</span>
                <span>{{ data.runs }} runs</span>
                <a href="{{ data.github }}" target="_blank">GitHub</a>
            </div>
        </div>
    </section>
    

    <main>
        <!-- Form -->
        <form action="#" class="form">
            <h1>Prompt:</h1>
            <textarea name="prompt" id="prompt" rows="3" placeholder="An astronaut riding a rainbow unicorn"></textarea>
            {% if data.neg %}
            <h1>Negative Prompt:</h1>
            <textarea name="prompt" id="neg_prompt" rows="3" placeholder="Add words you dont want to show up in your genrated image">lowres, text, error, cropped, worst quality, low quality, jpeg artifacts, ugly, duplicate, morbid, mutilated, out of frame, extra fingers, mutated hands, poorly drawn hands, poorly drawn face, mutation, deformed, blurry, dehydrated, bad anatomy, bad proportions, extra limbs, cloned face, disfigured, gross proportions, malformed limbs, missing arms, missing legs, extra arms, extra legs, fused fingers, too many fingers, long neck, username, watermark, signature</textarea>
            <h1>CFG:</h1>
            <div class="slidecontainer">
                <input type="range" min="1" max="12" value="7" class="slider" id="myCFG">
                <p>CFG value: <span id="cfg">7</span></p>
                <p>keep it 7-9 if you dont know what it does</p>
            </div>
            <h1>Steps:</h1>
            <div class="slidecontainer">
                <input type="range" min="1" max="35" value="20" class="slider" id="mySteps">
                <p>Steps: <span id="steps">20</span></p>
            </div>
            <h1>Seed:</h1>
            <textarea name="prompt" id="seed_value" rows="1" placeholder="Add seed value for your generated image" pattern="\d+" title="Please enter only numbers">-1</textarea>
            <p>Do not change if you don't know what it does</p>
            {% endif %}
            <div>
                <ul>
                    <li>
                        <h1>colors:</h1>
                        <div class="is-flex">
                            {% for color in prompt.colors %}
                            <button class="prompt">{{ color }}</button>
                            {% endfor %}
                        </div>
                    </li>
                </ul>
            </div>
            <ul>
                <li>
                    <h1>lighting:</h1>
                    <div class="is-flex">
                        {% for light in prompt.lighting %}
                        <button class="prompt">{{ light }}</button>
                        {% endfor %}
                    </div>
                </li>
            </ul>
            <div cat="details">
                <ul>
                    <li>
                        <h1>details:</h1>
                        <div class="is-flex">
                            {% for detail in prompt.details %}
                            <button class="prompt">{{ detail }}</button>
                            {% endfor %}
                        </div>
                    </li>
                </ul>
            </div>
            <div cat="artists">
                <ul>
                    <li>
                        <h1>artists:</h1>
                        <div class="is-flex">
                            {% for artist in prompt.artists %}
                            <button class="prompt">{{ artist }}</button>
                            {% endfor %}
                        </div>
                    </li>
                </ul>
            </div>
            <button type="button" class="run-button" onclick="runModel()">Run</button>
        </form>

        <div class="image-placeholder">
            <img id="generated-image" src={{ data.img }} alt="Loading...">
        </div>
    </main>

</body>

{% include 'main/footer.html' %}

</html>
