<head>
    {% include 'extra/head.html' %}
    <title>Chipling Home</title>
 </head>
 <body>
    {% include 'extra/top.html' %}
    {% include 'extra/navbar.html' %}
    <div>
       <div class="container grid-container">
          <div class="panel section">
             <div class="panel-body align-content-center">
                <div class="content-width-extra-large">
                   <h5 class="text-primary-2">Chipling.xyz</h5>
                   <h1 class="display-heading-2">Unlock the Power of AI for Everyone!</h1>
                   <div class="space-bottom-large">
                      <h3 class="card-heading display-inline">Free and Easy to Use.</h3>
                      <h3 class="card-heading display-inline text-gray-4">&nbsp;The ultimate destination for various ai models and AI tools.</h3>
                   </div>
                   <div class="form w-form">
                      <a href="/models" class="button-large w-button">
                      <input type="submit" class="button-large w-button" value="Explore Models!">
                      </a>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
    </div>    
    <div class="section"><div class="container justify-content-center"><div class="center-content content-width-large"><h3 class="display-heading-3">Introducing Image Playground.</h3><div class="space-bottom-large"><h3 class="card-heading display-inline">Generate Multiple Images.</h3><div class="card-heading display-inline text-gray-4">  in various styles.</div></div><div><a href="/playground" target="_blank" class="button-large bg-primary-3 w-button">Launch</a></div></div></div></div>
    <div class="section">
       <div class="container grid-container">
        <div class="section-title">
            <h5 class="panel-subheading text-primary-3">Features</h5>
            <h3 class="display-heading-4 no-bottom-space">Why Use Chipling?</h3>
         </div>
          <div data-w-id="211eee28-ea1c-ba7c-0b2d-b029e72aeada" class="w-layout-grid grid-thirds panel-height-medium space-bottom" style="will-change: opacity, transform; opacity: 0.99859; transform: translate3d(0px, 0px, 0px) scale3d(0.999812, 0.999812, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
             <div class="panel">
                <div class="panel-body align-content-center">
                   <div class="center-content">
                      <div class="display-heading-3 text-primary-2">70%</div>
                      <h5>Faster than most free image and text genration sites.</h5>
                      <div>At least that's what Users tell us!</div>
                   </div>
                </div>
             </div>
             <div class="panel">
                <div class="panel-body align-content-center">
                   <div class="center-content">
                      <div class="display-heading-3 text-primary-4">300+</div>
                      <h5>Signups since we launched in Jan 2024</h5>
                      <div>Excluding bot signups</div>
                   </div>
                </div>
             </div>
             <div class="panel">
                <div class="panel-body align-content-center">
                   <div class="center-content">
                      <div class="display-heading-3 text-primary-3">Free</div>
                      <h5>We aim towards keeping this site free forever!</h5>
                      <div> </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
    <div class="section">
       <div class="container grid-container">
          <div class="section-title">
             <h5 class="panel-subheading text-primary-3">How it works</h5>
             <h3 class="display-heading-4 no-bottom-space">Using Chipling is simple.</h3>
          </div>
          <div data-w-id="d6ec572d-ae5a-e3af-5046-196a835e1f1c" class="w-layout-grid grid-thirds space-bottom" style="will-change: opacity, transform; opacity: 0.984025; transform: translate3d(0px, 0px, 0px) scale3d(0.99787, 0.99787, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
             <div class="panel">
                <div class="panel-body">
                   <div class="space-bottom">
                      <div class="circle-large bg-primary-2">
                         <h3 class="large-heading no-bottom-space">1</h3>
                      </div>
                   </div>
                   <div>
                      <div class="space-bottom-large">
                         <h3 class="card-heading display-inline">Select a model from models.</h3>
                         <div class="card-heading text-gray-4">There are tons of multi-purpose models.</div>
                      </div>
                      <div class="row-inline">
                         <a href="/models" class="link-arrow w-inline-block">
                            <div>Browse Models</div>
                            <img src="https://assets.website-files.com/5dcb2e333e05bec4ef2fee2f/5dd224ee03368220b1f9e7b0_icon-chevron-right.svg" alt="" class="space-left-extra-small">
                         </a>
                      </div>
                   </div>
                </div>
             </div>
             <div class="panel">
                <div class="panel-body">
                   <div class="space-bottom">
                      <div class="circle-large bg-primary-5">
                         <h3 class="large-heading no-bottom-space">2</h3>
                      </div>
                   </div>
                   <div>
                      <div class="space-bottom-large">
                         <h3 class="card-heading display-inline">Use Playground Mode.</h3>
                         <div class="card-heading text-gray-4 display-inline">Select A Style and give a prompt.</div>
                      </div>
                      <div class="row-inline">
                         <a href="/playground" class="link-arrow w-inline-block" style="opacity: 1;">
                            <div>Try Playground</div>
                            <img src="https://assets.website-files.com/5dcb2e333e05bec4ef2fee2f/5dd224ee03368220b1f9e7b0_icon-chevron-right.svg" alt="" class="space-left-extra-small" style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                         </a>
                      </div>
                   </div>
                </div>
             </div>
             <div class="panel">
                <div class="panel-body">
                   <div class="space-bottom">
                      <div class="circle-large bg-primary-4">
                         <h3 class="large-heading no-bottom-space">3</h3>
                      </div>
                   </div>
                   <div>
                      <div class="space-bottom-large">
                         Use Models via Chipling API.</h3>
                         <div class="card-heading display-inline">Launch your own new site/app with models hosted on chipling.</div>
                      </div>
                      <a href="/api" class="link-arrow w-inline-block" style="opacity: 1;">
                        <div>Try Playground</div>
                        <img src="https://assets.website-files.com/5dcb2e333e05bec4ef2fee2f/5dd224ee03368220b1f9e7b0_icon-chevron-right.svg" alt="" class="space-left-extra-small" style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                     </a>                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
    <div class="section">
      <div class="container">
         <div class="w-layout-grid grid-two-thirds">
            <div data-animation="slide" data-nav-spacing="4" data-duration="500" data-infinite="1" class="slider w-slider" role="region" aria-label="carousel">
               <div class="rounded-image w-slider-mask" id="w-slider-mask-0">
                  <div class="w-slide" aria-label="1 of 4" role="group" style="transform: translateX(0px); opacity: 1;">
                     <img src="https://images.prodia.xyz/b2378364-af12-42db-b427-b19c1a9b7848.png" 
                          srcset="https://images.prodia.xyz/b2378364-af12-42db-b427-b19c1a9b7848.png 500w, https://images.prodia.xyz/b2378364-af12-42db-b427-b19c1a9b7848.png 1236w" 
                          sizes="(max-width: 479px) 95vw, (max-width: 991px) 94vw, 96vw" 
                          alt="" 
                          class="rounded-image slider-image"
                          style="max-width: 800px; max-height: 650px;"> <!-- Set your desired max-width and max-height -->
                  </div>
                  <div class="w-slide" aria-label="2 of 4" role="group" style="transform: translateX(0px); opacity: 1;">
                     <img src="https://images.prodia.xyz/dbd3024d-0f8a-495a-9760-ebbe7724f7d2.png" 
                          srcset="https://images.prodia.xyz/dbd3024d-0f8a-495a-9760-ebbe7724f7d2.png 500w, https://images.prodia.xyz/dbd3024d-0f8a-495a-9760-ebbe7724f7d2.png 1236w" 
                          sizes="(max-width: 479px) 95vw, (max-width: 991px) 94vw, 96vw" 
                          alt="" 
                          class="rounded-image slider-image"
                          style="max-width: 800px; max-height: 650px;"> <!-- Set your desired max-width and max-height -->
                  </div>
                  <div class="w-slide" aria-label="3 of 4" role="group" style="transform: translateX(0px); opacity: 1;">
                     <img src="https://images.prodia.xyz/76cf06cc-3cc4-45da-861d-0dd3cbca74c7.png" 
                          srcset="https://images.prodia.xyz/76cf06cc-3cc4-45da-861d-0dd3cbca74c7.png 500w, https://images.prodia.xyz/76cf06cc-3cc4-45da-861d-0dd3cbca74c7.png 1236w" 
                          sizes="(max-width: 479px) 95vw, (max-width: 991px) 94vw, 96vw" 
                          alt="" 
                          class="rounded-image slider-image"
                          style="max-width: 800px; max-height: 650px;"> <!-- Set your desired max-width and max-height -->
                  </div>
                  <div class="w-slide" aria-label="4 of 4" role="group" style="transform: translateX(0px); opacity: 1;">
                     <img src="https://images.prodia.xyz/95f5ff15-98ef-4bfb-8c23-7a147e779aca.png" 
                          srcset="https://images.prodia.xyz/95f5ff15-98ef-4bfb-8c23-7a147e779aca.png 500w, https://images.prodia.xyz/95f5ff15-98ef-4bfb-8c23-7a147e779aca.png 1236w" 
                          sizes="(max-width: 479px) 95vw, (max-width: 991px) 94vw, 96vw" 
                          alt="" 
                          class="rounded-image slider-image"
                          style="max-width: 800px; max-height: 650px;"> <!-- Set your desired max-width and max-height -->
                  </div>
                  <div aria-live="off" aria-atomic="true" class="w-slider-aria-label" data-wf-ignore="">Slide 1 of 2.</div>
               </div>
               <div class="slider-navigation-previous button-circle bg-white w-slider-arrow-left" role="button" tabindex="0" aria-controls="w-slider-mask-0" aria-label="previous slide"><img src="https://assets.website-files.com/5dcb2e333e05bec4ef2fee2f/5de4a87c747d417a2e7dae53_icon-chevron-left.svg" alt="" class="button-circle-icon"></div>
               <div class="slider-navigation-next button-circle bg-white w-slider-arrow-right" role="button" tabindex="0" aria-controls="w-slider-mask-0" aria-label="next slide"><img src="https://assets.website-files.com/5dcb2e333e05bec4ef2fee2f/5de4a87d3719a11f82ef8c37_icon-chevron-right.svg" alt="" class="button-circle-icon"></div>
               <div class="content-on-image-slider-navigation w-slider-nav w-round">
                  <div class="w-slider-dot w-active" data-wf-ignore="" aria-label="Show slide 1 of 2" aria-selected="true" role="button" tabindex="0" style="margin-left: 4px; margin-right: 4px;"></div>
                  <div class="w-slider-dot" data-wf-ignore="" aria-label="Show slide 2 of 2" aria-selected="false" role="button" tabindex="-1" style="margin-left: 4px; margin-right: 4px;"></div>
               </div>
            </div>
            <div class="panel">
               <div class="panel-body">
                  <div class="space-bottom">
                     <h5 class="panel-subheading">Images</h5>
                     <h3 class="card-heading display-inline">Some Images Generated.</h3>
                     <div class="card-heading text-gray-4">Using Various Images Models.</div>
                  </div>
                  <div>
                     <div><a href="/models/image">See all models</a></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
    <div class="section">
       <div class="container grid-container">
          <div class="section-title">
             <h3 class="display-heading-4">Try Out Some of the Trending Models.</h3>
          </div>
        </div>
    </div>     
    <div class="section">
       <div data-w-id="fe5f3c70-13b2-686d-424d-aae254c50ce7" class="container" style="will-change: opacity, transform; opacity: 0.985248; transform: translate3d(0px, 0px, 0px) scale3d(0.998033, 0.998033, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
          <div class="w-dyn-list">
             <div role="list" class="blog-grid w-dyn-items">
                <div role="listitem" class="blog-grid-item w-dyn-item">
                   <div class="panel">
                      <a href="/prompthero/openjourneyv4" class="panel-image-link w-inline-block"><img alt="" src="https://prompthero.s3.amazonaws.com/og/openjourney-og-image.jpg" sizes="(max-width: 479px) 100vw, (max-width: 767px) 400px, (max-width: 991px) 46vw, 31vw" srcset="https://prompthero.s3.amazonaws.com/og/openjourney-og-image.jpg 1080w, https://prompthero.s3.amazonaws.com/og/openjourney-og-image.jpg 1280w" class="panel-top-image" style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"></a>
                      <div class="panel-body panel-body-small">
                         <a href="/prompthero/openjourneyv4" class="w-inline-block">
                            <h4 class="medium-heading">Prompthero/Openjourneyv4</h4>
                            <p>open journey v4, Openjourney is a s a custom text-to-image model that generates AI art images in the style of Midjourney. It's a fine-tune of Stable Diffusion
                            </p>
                         </a>
                         <div class="blog-panel-foot">
                            <div class="blog-panel-meta-text">
                               <div>Feb, 2024</div>
                               <div class="row">
                                  <div>By&nbsp;</div>
                                  <div class="blog-post-panel-author">Prompthero</div>
                               </div>
                            </div>
                            <a style="background-color:#3ccf91" href="/models/image" class="badge w-inline-block">
                               <div>Image</div>
                            </a>
                         </div>
                      </div>
                   </div>
                </div>
                <div role="listitem" class="blog-grid-item w-dyn-item">
                   <div class="panel">
                      <a href="meta/llama-2-70b-chat" class="panel-image-link w-inline-block"><img alt="" src="https://i0.wp.com/analyticsindiamag.com/wp-content/uploads/2023/07/LlaMA-2-Vs-GPT-4-Vs-Claude-2A-2.jpg?fit=1920%2C1080&ssl=1 1080w, https://i0.wp.com/analyticsindiamag.com/wp-content/uploads/2023/07/LlaMA-2-Vs-GPT-4-Vs-Claude-2A-2.jpg?fit=1920%2C1080&ssl=1 1280w" class="panel-top-image" style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"></a>
                      <div class="panel-body panel-body-small">
                         <a href="meta/llama-2-70b-chat" class="w-inline-block">
                            <h4 class="medium-heading">meta/llama-2-70b-chat</h4>
                            <p>llama 70 b is A 70 billion parameter language model from Meta, fine tuned for chat completions</p>                            </p>
                         </a>
                         <div class="blog-panel-foot">
                            <div class="blog-panel-meta-text">
                               <div>Jan, 2024</div>
                               <div class="row">
                                  <div>By&nbsp;</div>
                                  <div class="blog-post-panel-author">Meta</div>
                               </div>
                            </div>
                            <a style="background-color:#5132c0" href="/models/text" class="badge w-inline-block">
                               <div>Text</div>
                            </a>
                         </div>
                      </div>
                   </div>
                </div>
                <div role="listitem" class="blog-grid-item w-dyn-item">
                   <div class="panel">
                      <a href="lucataco/animate-diff" class="panel-image-link w-inline-block"><img alt="" src="https://s13.gifyu.com/images/SCbiG.gif" sizes="(max-width: 479px) 100vw, (max-width: 767px) 400px, (max-width: 991px) 46vw, 31vw" srcset="https://s13.gifyu.com/images/SCbiG.gif 1080w, https://s13.gifyu.com/images/SCbiG.gif 1280w" class="panel-top-image" style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"></a>
                      <div class="panel-body panel-body-small">
                         <a href="lucataco/animate-diff" class="w-inline-block">
                            <h4 class="medium-heading">Lucataco/Animate-Diff
                            </h4>
                            <p>Animate Your Personalized Text-to-Image Diffusion Models
                            </p>
                         </a>
                         <div class="blog-panel-foot">
                            <div class="blog-panel-meta-text">
                               <div>Jan, 2024</div>
                               <div class="row">
                                  <div>By&nbsp;</div>
                                  <div class="blog-post-panel-author">Lucataco</div>
                               </div>
                            </div>
                            <a style="background-color:#ff934f" href="/models/video" class="badge w-inline-block">
                               <div>Video</div>
                            </a>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
   
    {% include 'extra/footer.html' %}
    <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=5dcb2e333e05bec4ef2fee2f" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script><script src="https://assets.website-files.com/5dcb2e333e05bec4ef2fee2f/js/panels-template.c73880788.js" type="text/javascript"></script><!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
 </body>