<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='icons/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="{{ url_for('static', filename='js/analytics.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main/search.js') }}"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6864078994533800"
     crossorigin="anonymous"></script>
</head>   
<body>
    <header>
        <a href="/" class="logo">Chipling</a>
        <input type="checkbox" class="nav-toggle" id="nav-toggle">
        <nav>
            <ul>
                {% if session.user %}
                <li><a href="/logout">Logout</a></li>
                {% else %}
                <li><a href="/login">Login</a></li>
                {% endif %}
                <li><a href="/playground">CREATE!</a></li>
                <li><a href="/models">AI Models</a></li>
                <li><a href="/docs">Api Docs</a></li>
                {% if session.user %}
                <li><a href="/profile">{{ session.user }}</a></li>
                {% else %}
                <li><a href="/profile">Profile</a></li>
                {% endif %}
                <li><a href="/gallery">Gallery</a></li>
            </ul> 
        </nav>
        <label for="nav-toggle" class="nav-toggle-label">
            <span></span>
        </label>
    </header>

    <section class="search">
        <form class="search-container">
            <input type="text" id="searchInput" placeholder="search for a model here">
          </form>
    </section> 

    <section class="section-three">
        <a href="/models/image" class="learn-more-btn">Image Models</a>
        <a href="/models/text" class="learn-more-btn">Text Models</a>
        <a href="/models/video" class="learn-more-btn">Video Models</a>
    </section>


    <section class="section-eight">

    <h1>New Models:</h1>
    <section class="section-eight">
        <div class="flex-group-eight">
            {% for img in new %}
            <div>
                <img src= {{ img.img }}>
                <h4>{{ img.author }}/{{ img.model }}</h4>
                <p>{{ img.desc }}</p>
                <p><a href="{{ img.author }}/{{ img.model }}" class="learn-more-btn section-eight-btn">Try Out Now</a></p>
            </div>
            {% endfor %} 
        </div>
    </section>
    <h1>Image Models:</h1>
    <a href="/models/image" class="custom-link">View all image models</a>
    <section class="section-eight">
        <div class="flex-group-eight">
            {% for img in image %}
            <div>
                <img src= {{ img.img }}>
                <h4>{{ img.author }}/{{ img.model }}</h4>
                <p>{{ img.desc }}</p>
                <p><a href="{{ img.author }}/{{ img.model }}" class="learn-more-btn section-eight-btn">Try Out Now</a></p>
            </div>
            {% endfor %} 
        </div>
    </section>
    <h1>Text Models:</h1>
    <a href="/models/text" class="custom-link">View all text models</a>
    <section class="section-eight">
        <div class="flex-group-eight">
            {% for img in text %}
            <div>
                <img src= {{ img.img }}>
                <h4>{{ img.author }}/{{ img.model }}</h4>
                <p>{{ img.desc }}</p>
                <p><a href="{{ img.author }}/{{ img.model }}" class="learn-more-btn section-eight-btn">Try Out Now</a></p>
            </div>
            {% endfor %} 
        </div>
    </section>  
    <h1>Video Models:</h1>
    <a href="/models/video" class="custom-link">View all video models</a>
    <section class="section-eight">
        <div class="flex-group-eight">
            {% for img in video %}
            <div>
                <img src= {{ img.img }}>
                <h4>{{ img.author }}/{{ img.model }}</h4>
                <p>{{ img.desc }}</p>
                <p><a href="{{ img.author }}/{{ img.model }}" class="learn-more-btn section-eight-btn">Try Out Now</a></p>
            </div>
            {% endfor %} 
        </div>
    </section>
    {% include 'main/footer.html' %}
</body>
