<!DOCTYPE html>
<html lang="en">
   <head>
      {% include "extra/head.html" %}
      <script src="{{ url_for('static', filename='js/playground.js') }}"></script>
   </head>
   {% include 'extra/navbar.html' %}
   <div class="container">
      <div class="panel-body">
         <div class="container">
            <div class="panel">
               <div class="panel-body">
                  <div class="info-content">
                     <h1 id="title" name="models">Image Playground</h1>
                     <p>Genrate Various Type Of Ai Images!</p>
                     <div class="additional-info">
                        <span>Public</span>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="container">
      <div class="panel">
         <div class="panel-body">
            <main>
               <form action="#" class="form-thirds">
                  <div class="panel">
                     <div class="panel-body">
                        <h1>Prompt:</h1>
                        <textarea class="form-input textarea w-input" name="prompt" id="prompt" rows="3" placeholder="An astronaut riding a rainbow unicorn"></textarea>
                        <h1>Negative Prompt:</h1>
                        <textarea class="form-input textarea w-input" name="prompt" id="neg_prompt" rows="3" placeholder="Add words you dont want to show up in your genrated image">lowres, text, error, cropped, worst quality, low quality, jpeg artifacts, ugly, duplicate, morbid, mutilated, out of frame, extra fingers, mutated hands, poorly drawn hands, poorly drawn face, mutation, deformed, blurry, dehydrated, bad anatomy, bad proportions, extra limbs, cloned face, disfigured, gross proportions, malformed limbs, missing arms, missing legs, extra arms, extra legs, fused fingers, too many fingers, long neck, username, watermark, signature</textarea>
                     </div>
                  </div>
                  <div class="panel">
                     <div class="panel-body">
                        <h1>CFG:</h1>
                        <div class="conatainer">
                           <input type="range" min="1" max="12" value="7" class="slider" id="myCFG">
                           <p>CFG value: <span id="cfg">7</span></p>
                           <p>keep it 7-9 if you dont know what it does</p>
                        </div>
                        <h1>Steps:</h1>
                        <div class="slidecontainer">
                           <input type="range" min="1" max="35" value="20" class="slider" id="mySteps">
                           <p>Steps: <span id="steps">20</span></p>
                        </div>
                        <h1>Seed:</h1>
                        <textarea class="form-input form-input-large w-input" name="seed" id="seed_value" rows="1" placeholder="Add seed value for your generated image" pattern="\d+" title="Please enter only numbers">-1</textarea>
                        <p>Do not change if you don't know what it does</p>
                     </div>
                  </div>
                  <div class="panel">
                    <div class="panel-body">
                        <div class="panel">
                            <img src="https://preview.redd.it/realism-in-stable-diffusion-realistic-vision-animatediff-v0-wolksyufh9eb1.gif?width=768&auto=webp&s=a1061a90e13cb6e53ed01a808f9ad3ea64432dff">
                        </div>
                    </div>
                </div>
               </form>
            </main>
         </div>
      </div>
   </div>
   </body>
   {% include 'extra/footer.html' %}
</html>