<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="{{ url_for('static', filename='js/analytics.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main/ads.js') }}"></script>
</head>   
<body>
    <header>
        <h1 class="logo">Chipling</h1>
        <input type="checkbox" class="nav-toggle" id="nav-toggle">
        <nav>
            <ul>
                {% if session.user %}
                <li> <a href="/logout">Logout</a></li>
                {% else %}
                <li> <a href="/login">Login</a></li>
                {% endif %}
                <li> <a href="/models">AI Models</a></li>
                <li> <a href="">Documentation</a></li>
                {% if session.user %}
                <li> <a href="/profile">{{ session.user }}</a></li>
                {% else %}
                <li> <a href="/profile">Profile</a></li>
                {% endif %}
                <li> <a href="/gallery">Gallery</a></li>
            </ul> 
        </nav>
        <label for="nav-toggle" class="nav-toggle-label">
            <span></span>
        </label>
    </header>

    <section class="search">
        <form class="search-container">
            <input type="text" id="searchInput" placeholder="search for a model here">
          </form>
    </section>
      
    {% if data.status == "found" %}
    <h1>Results:</h1>
    <section class="section-eight">
        <div class="flex-group-eight">
            {% for img in data.results %}
                <div>
                    <img src="{{ img.img }}">
                    <h4>{{ img.author }}/{{ img.model }}</h4>
                    <p>{{ img.desc }}</p>
                    <p><a href="{{ img.author }}/{{ img.model }}" class="learn-more-btn section-eight-btn">Try Out Now</a></p>
                </div>
            {% endfor %}
        </div>
    </section>
    {% elif data.status == "not found" %}
        <h1>No Results Found</h1>
    {% endif %}

    <section class="section-ten">
        <footer>
            <p>&copy; 2024 Chipling AI. All rights reserved.</p>
        </footer>
    </section>
</body>
<script>
    // Wait for the document to be ready
    $(document).ready(function() {
        // Capture the submit event on the search form
        $('.search-container').submit(function(event) {
            // Prevent the default form submission
            event.preventDefault();
            
            // Get the input value
            var query = $('#searchInput').val().trim();
            
            // Check if the query is not empty
            if (query !== '') {
                // Redirect to the search page with the input value
                window.location.href = '/search/' + query;
            }
        });
    });
</script>

