<head>
    <title>Search</title>
    {% include "extra/head.html"%}
</head>   
<body>
    {% include "extra/navbar.html" %}
    {% include "extra/top.html" %}
    
    <div class="panel">
        <div class="panel-body align-content-center">
            <div class="modal-panel-bg"></div>
                <div class="panel-body modal-panel-body">
                      <form action="/search" class="search-form w-form"><input type="search" class="form-input form-input-large search-modal-input w-input" autofocus="true" maxlength="256" name="query" placeholder="Type your search" id="search" required=""><input type="submit" value="Search" class="button search-form-button w-button"></form>
                 </div>
             </div>
            </div>
        </div>
    </div>      
    {% if data.status == "found" %}
    <div data-w-id="fe5f3c70-13b2-686d-424d-aae254c50ce7" class="container" style="will-change: opacity, transform; opacity: 0.985248; transform: translate3d(0px, 0px, 0px) scale3d(0.998033, 0.998033, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
        <div class="w-dyn-list">
           <div role="list" class="blog-grid w-dyn-items">      
              {% for data in data.results %}
              <div role="listitem" class="blog-grid-item w-dyn-item">
                 <div class="panel">
                    <a href="/{{ data.author }}/{{ data.model }}" class="panel-image-link w-inline-block"><img alt="" src="{{ data.img }}" sizes="(max-width: 479px) 100vw, (max-width: 767px) 400px, (max-width: 991px) 46vw, 31vw" srcset="{{ data.img }} 1080w, {{ data.img }} 1280w" class="panel-top-image" style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"></a>
                    <div class="panel-body panel-body-small">
                       <a href="/{{ data.author }}/{{ data.model }}" class="w-inline-block">
                          <h4 class="medium-heading">{{ data.author }}/{{ data.model }}</h4>
                          <p>{{ data.desc }}
                          </p>
                       </a>
                       <div class="blog-panel-foot">
                          <div class="blog-panel-meta-text">
                             <div>Feb, 2024</div>
                             <div class="row">
                                <div>By&nbsp;</div>
                                <div class="blog-post-panel-author">{{ data.author }}</div>
                             </div>
                          </div>
                          <a style="background-color:#3ccf91" href="/models/{{ data.type }}" class="badge w-inline-block">
                             <div>{{ data.type }}</div>
                          </a>
                       </div>
                    </div>
                 </div>
              </div>                  
              {% endfor %}
           </div>
        </div>
    </div>
    {% elif data.status == "not found" %}
        <h1>No Results Found</h1>
    {% endif %}

    {% include 'extra/footer.html' %}

</body>
<script>
    // Wait for the document to be ready
    $(document).ready(function() {
        // Capture the submit event on the search form
        $('.search-container').submit(function(event) {
            // Prevent the default form submission
            event.preventDefault();
            
            // Get the input value
            var query = $('#searchInput').val().trim();
            
            // Check if the query is not empty
            if (query !== '') {
                // Redirect to the search page with the input value
                window.location.href = '/search/' + query;
            }
        });
    });
</script>

